.schedule-menu{
    display: flex;
    align-items: center;
 
    margin: 5% 0;
}

.filter{
    width: 30%;
    padding: 1% 2%;
    border-radius: 50px;
}

.filter select{
    width: 100%;
    font-size: xx-large;
    border-radius:50px;
    padding: 4%;
    background-color: var(--color-secondary);
    color: white;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-secondary);
    color: white;
    padding: 1% 2%;
    border-radius: 50px;
    font-size: 2em;
    width: 50%;
}

.tabs li:hover {
    color: var(--primary);
    cursor: pointer;
}



.schedule {
    display: flex;
    padding-left: 5%;
}

.wrapper h2 {
    font-family: morganite;
    font-size: 5em;
}

.sched-table {
    font-family: var(--poppins);
    font-size: x-large;
    color: var(--color-primary);
    width: 70%;
    height: 75vh;
}

li {
    list-style: none;
}

.row {
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    cursor: pointer;
}


.timing {
    color: var(--color-secondary);
    font-weight: 500;
    width: 20%;
}

.category {
    font-size: smaller;
    font-style: italic;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}


.personnel {
    width: 20%;
}


.images {
    width: 30%;
    right: 2%;
    height: 0vh;
}

.row:hover{
    background-color:rgba(211,92,57,0.3);
    transition: all 0.3s ease-in;
}

.schedule img {
    height: 75vh;
    width: 100%;
    border-top-right-radius: 10%;
}



.slidein {
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.slideout {
    animation-name: slideout;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transition:all  1s  ease-out;
    transform: scale(0);
}

@keyframes slidein {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0px);
    }

}

@keyframes slideout {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(100vh);
    }
}


@media (max-width:720px) {
    .images {
        display: none;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .timing,
    .personnel {
        width: 100%;
        margin: 10% 0;
    }
}