@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

@font-face {
  font-family: "Morganite";
  src: url("../src/assets/fonts/Morganite-ExtraBold.ttf") format("truetype");
  font-display: block;
}

:root {
  --primary: #1f1f1f;
  --secondary-color: #d35c39;
  --bg-color: #fafafa;
}
.load-to-view {
  transition: all 2s ease;
  animation: load-to-view 2s cubic-bezier(0.22, 0.61, 0.36, 1) ;
  opacity: 0;
  background-color: transparent;
  animation-delay: 1.5s;
}
@keyframes load-to-view {
  0% {
    opacity: 0.5;
    transform: translateY(150px);
    background-color: #d35c39;
  }
  100% {
    opacity: 1;
    transform: translateY(75px);
    background-color: #fafafa;
  }
}
body {
  scroll-behavior: smooth;
}
.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  width: 100%;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 30s reverse linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* -------------------------- */
.fullscreen-fade{
  background-color: #fafafa;
  width: 1em;
  height: 1em;
  /* border-radius: 100%; */
  -webkit-animation: fullscreen-fade-out 1.5s  ease;
  animation: fullscreen-fade-out 1.5s  ease;
  /* animation-duration: 2s; */
  /* animation-delay: 0s; */
    
}


/* -------------------------- */






.circle-ripple {
  background-color: #f1f1f1;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  -webkit-animation: ripple-scale 1s  ease;
  animation: ripple-scale 1s  ease;
  /* animation-delay: 0.5s; */
  /* animation-duration: 3s; */
  animation-delay: 1s;

   

}




.circle-ripple-loading {
  background-color: #f1f1f1 ;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  -webkit-animation: ripple-scale-down 1s ease;
  animation: ripple-scale-down 1s ease;
  animation-delay: 1s;
  
}

@-webkit-keyframes ripple-scale {
  0% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(211, 92, 57, 0.3), 0 0 0 1em rgba(211, 92, 57, 0.3),
      0 0 0 3em rgba(211, 92, 57, 0.3), 0 0 0 5em rgba(211, 92, 57, 0.3);
  }
  100% {
    transform: scale(200);
    box-shadow: 0 0 0 1em rgba(211, 92, 57, 0.3),
      0 0 0 3em rgba(211, 92, 57, 0.3), 0 0 0 5em rgba(211, 92, 57, 0.3),
      0 0 0 8em rgba(211, 92, 57, 0);
  }
}

@keyframes ripple-scale {
  0% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(117, 115, 114, 0.3), 0 0 0 1em rgba(104, 101, 98, 0.3),
      0 0 0 3em rgba(179, 161, 161, 0.3), 0 0 0 5em rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(200);
    box-shadow: 0 0 0 1em rgba(117, 115, 114, 0.3),
      0 0 0 3em rgba(0, 0, 0, 0.3), 0 0 0 5em rgba(14, 13, 12, 0.3),
      0 0 0 8em rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes ripple-scale-down {
  0% {
    transform: scale(400);
    display: block;
    box-shadow: 0 0 0 1em rgba(0, 0, 0, 0.3),
      0 0 0 3em rgba(0, 0, 0, 0.3), 0 0 0 5em rgba(0, 0, 0, 0.3),
      0 0 0 9em rgb(0, 0, 0);
  }
  100% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1em rgba(0, 0, 0, 0.3),
      0 0 0 3em rgba(0, 0, 0, 0.3), 0 0 0 5em rgb(10, 7, 6);
  }
}

@keyframes ripple-scale-down {
  0% {
    transform: scale(400);
    display: block;
    box-shadow: 0 0 0 1em rgba(211, 92, 57, 0.3),
      0 0 0 3em rgba(211, 92, 57, 0.3), 0 0 0 5em rgba(211, 92, 57, 0.3),
      0 0 0 8em rgba(211, 92, 57, 0);
  }
  100% {
    transform: scale(0);
    box-shadow: 0 0 0 0 rgba(211, 92, 57, 0.3), 0 0 0 1em rgba(211, 92, 57, 0.3),
      0 0 0 3em rgba(211, 92, 57, 0.3), 0 0 0 5em rgb(0, 0, 0);
  }
}
/* ---------------------------------------------------------------------- */
@-webkit-keyframes fullscreen-fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fullscreen-fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
   }
}
